body {
  padding-top: 70px;
}

.pagination-wrapper {
  text-align: center;
}

.logs-table-namespace {
    width: 200px;
}

.logs-table-level {
    width: 100px;
}

.logs-table-date {
    width: 150px;
}

#spinner {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
