body {
  padding-top: 70px;
}

.pagination-wrapper {
  text-align: center;
}

.logs-table-namespace {
    width: 200px;
}

.logs-table-level {
    width: 100px;
}

.logs-table-date {
    width: 150px;
}

.log-table-messages-content {  /* http://stackoverflow.com/a/248013/5649751 */
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#spinner {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
