<header class="navbar navbar-default navbar-fixed-top navbar-inverse" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-7">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Logs</a>
    </div>
  </div>
</header>

<form class="form-horizontal" role="form" ng-submit="refresh()">
  <div class="form-group">
    <label for="namespace" class="col-sm-2 control-label">Namespace</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="namespace" placeholder="Namespace" ng-model="searchForm.namespace">
    </div>
    <div class="col-sm-4">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="searchForm.regex"> Regex
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="level" class="col-sm-2 control-label">Level</label>
    <div class="col-sm-5">
      <select class="form-control" id="level" ng-model="searchForm.level" ng-options="level for level in levels">
      </select>
    </div>
    <div class="col-sm-4">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="searchForm.levelsAbove"> Include above levels
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="filter" class="col-sm-2 control-label">Filter</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="filter" placeholder="Filter" ng-model="searchForm.filter">
    </div>
  </div>
  <div class="form-group">
    <label for="begin" class="col-sm-2 control-label">Begin</label>
    <div class="col-sm-3">
      <div class="dropdown">
        <a class="dropdown-toggle" id="begindDD" role="button" data-toggle="dropdown" data-target="#" href="#/">
          <div class="input-group">
            <input type="text" class="form-control" id="begin" ng-model="searchForm.begin">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="fakeBeginDD">
          <datetimepicker ng-model="searchForm.begin" data-datetimepicker-config="{dropdownSelector: '#beginDD'}"></datetimepicker>
        </ul>
      </div>
    </div>
    <label for="end" class="col-sm-1 control-label">End</label>
    <div class="col-sm-3">
      <div class="dropdown">
        <a class="dropdown-toggle" id="endDD" role="button" data-toggle="dropdown" data-target="#" href="#/">
          <div class="input-group">
            <input type="text" class="form-control" id="end" ng-model="searchForm.end">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="fakeEndDD">
          <datetimepicker ng-model="searchForm.end" data-datetimepicker-config="{dropdownSelector: '#endDD'}"></datetimepicker>
        </ul>
      </div>
    </div>
    <label for="limit" class="col-sm-1 control-label">Limit</label>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="limit" placeholder="/page" ng-model="searchForm.limit">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Refresh</button>
    </div>
  </div>
</form>

<div class="pagination-wrapper">
  <ul class="pagination">
    <li ng-class="{'disabled': page == 0}"><a href="#/" ng-click="prev()">&laquo;</a></li>
    <li><a href="#/">{{ page + 1 }} / {{ pages }}</a></li>
    <li ng-class="{'disabled': page + 1 == pages}"><a href="#/" ng-click="next()">&raquo;</a></li>
  </ul>
</div>

<div>
  <form class="form-inline" role="form">
    <div class="form-group">
      <input type="text" id="quickfilter" class="form-control" placeholder="Quick filter" ng-model="quickfilter.$">
    </div>
  </form><br>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="logs-table-namespace">
          Namespace<br>
          <input class="form-control" type="text" ng-model="quickfilter.namespace" placeholder="Namespace QF">
        </th>
        <th class="logs-table-level">
          Level<br>
          <input class="form-control" type="text" ng-model="quickfilter.level" placeholder="Level QF">
        </th>
        <th class="logs-table-date">
          Date<br>
          <input class="form-control" type="text" ng-model="quickfilter.date" placeholder="Date QF">
        </th>
        <th>
          Messages<br>
          <input class="form-control" type="text" ng-model="quickfilter.messages" placeholder="Messages QF">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="log in logs | filter:quickfilter" class="{{ log.level | bootstraplvl }}">
        <td>{{ log.namespace }}</td>
        <td>{{ log.level }}</td>
        <td>{{ log.date | prettydate }}</td>
        <td><pre>{{ log.messages | prettyjson }}</pre></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pagination-wrapper">
  <ul class="pagination">
    <li ng-class="{'disabled': page == 0}"><a href="#/" ng-click="prev()">&laquo;</a></li>
    <li><a href="#/">{{ page + 1 }} / {{ pages }}</a></li>
    <li ng-class="{'disabled': page + 1 == pages}"><a href="#/" ng-click="next()">&raquo;</a></li>
  </ul>
</div>
